/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  /* border: 2px solid black; */
  width: 340px;
  border-radius: 8px;
}
img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.main{
  padding: 24px 16px 24px 16px;

}
